<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= head %></title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container">
    <div class="welcome">
      <span class="welcome__box">
        <h1 class="welcome__text"><%= welcome %></h1>
      </span>  
    </div>
  </div>
</body>
</html>