<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= head %></title>
</head>
<body>
  <div class="container">
    <form method="POST" action="/todos/create">
      <div>
        <label for="name">Todo</label>
        <input type="text" name="name" id="name">
      </div>
      <button type="submit">Tambah</button>
    </form>
  </div>
</body>
</html>